name: Deploy AAA to BBBB

on:
  workflow_dispatch:
    inputs:
      enable_param1:
        type: boolean
        description: 'Enable param1AAAAAAAAA'
        default: true
      enable_param2:
        type: boolean
        description: 'Enable param2'
        default: true
      enable_param3:
        type: boolean
        description: 'Enable param3'
        default: true

jobs:
  set-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
     steps:
      - name: Set Matrix
        id: set-matrix
        run: |
          MATRIX="{\"include\":["
          if [ "${{ github.event.inputs.enable_param1 }}" == "true" ]; then
            MATRIX+="{\"param_name\":\"param1\"},"
          fi
          if [ "${{ github.event.inputs.enable_param2 }}" == "true" ]; then
            MATRIX+="{\"param_name\":\"param2\"},"
          fi
          if [ "${{ github.event.inputs.enable_param3 }}" == "true" ]; then
            MATRIX+="{\"param_name\":\"param3\"},"
          fi
          # Remove the last comma if it exists
          MATRIX=$(echo $MATRIX | sed 's/,$//')
          MATRIX+="]}"
          echo "matrix=$MATRIX" >> $GITHUB_OUTPUT

  deploy:
    needs: set-matrix
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJson(needs.set-matrix.outputs.matrix) }}
    name: Deploying ${{ matrix.param_name }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      
      - name: Deploy with Parameter
        run: |
          echo "Deploying with ${{ matrix.param_name }}"
          # Add your deployment script here for ${{ matrix.param_name }}