name: Matrix with Checkbox Inputs

run-name: >
  Deploy AAA to BBBB

on:
  workflow_dispatch:
    inputs:
      enable_param1:
        type: boolean
        description: 'Enable param1'
        default: false
      enable_param2:
        type: boolean
        description: 'Enable param2'
        default: false
      enable_param3:
        type: boolean
        description: 'Enable param3'
        default: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: always()
    strategy:
      matrix:
        default_tenant: [ 'AAA', 'BBB', 'CCC' ]  # List of supported workspaces
    name: Deploy ${{ inputs.enable_param1 }} to ${{ matrix.default_tenant }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      
      - name: Deploy
        run: |
          echo "Deploying ${matrix.default_tenant}"
