name: Deploy AAA to BBBB

on:
  workflow_dispatch:
    inputs:
      enable_param1:
        type: boolean
        description: 'Enable param1AAAAAAAAA'
        default: false
      enable_param2:
        type: boolean
        description: 'Enable param2'
        default: false
      enable_param3:
        type: boolean
        description: 'Enable param3'
        default: false

jobs:
  set-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Set Matrix
        id: set-matrix
        run: |
          params=()
          for param in param1 param2 param3; do
            if [ "${{ github.event.inputs.enable_${{ param }} }}" == "true" ]; then
              params+=("{\"param_name\":\"$param\"}")
            fi
          done
          MATRIX="{\"include\":[${params[*]}]}"
          echo "matrix=$MATRIX" >> $GITHUB_OUTPUT

  deploy:
    needs: set-matrix
    runs-on: ubuntu-latest
    strategy:
      matrix: ${{ fromJson(needs.set-matrix.outputs.matrix) }}
    name: Deploying ${{ matrix.param_name }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      
      - name: Deploy with Parameter
        run: |
          echo "Deploying with ${{ matrix.param_name }}"
          # Add your deployment script here for ${{ matrix.param_name }}