name: Matrix with Checkbox Inputs

run-name: >
  Deploy AAA to BBBB

on:
  workflow_dispatch:
    inputs:
      enable_param1:
        type: boolean
        description: 'Enable param1'
        default: false
      enable_param2:
        type: boolean
        description: 'Enable param2'
        default: false
      enable_param3:
        type: boolean
        description: 'Enable param3'
        default: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        param_name: ['param1', 'param2', 'param3']
    name: Deploy with Parameter ${{ matrix.param_name }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      
      - name: Print Parameter Name and Status
        run: |
          PARAM_NAME=${{ matrix.param_name }}
          ENABLED=false
          if [[ "${{ github.event.inputs.enable_param1 }}" == "true" && "$PARAM_NAME" == "param1" ]]; then
            ENABLED=true
          elif [[ "${{ github.event.inputs.enable_param2 }}" == "true" && "$PARAM_NAME" == "param2" ]]; then
            ENABLED=true
          elif [[ "${{ github.event.inputs.enable_param3 }}" == "true" && "$PARAM_NAME" == "param3" ]]; then
            ENABLED=true
          fi
          echo "Parameter: $PARAM_NAME, Enabled: $ENABLED"
      
      - name: Deploy
        if: steps.Print Parameter Name and Status.outputs.ENABLED == 'true'
        run: |
          echo "Deploying with ${{ matrix.param_name }}"