name: Deploy Test

run-name: >
  Deploy ${{ inputs.package }} to ${{ inputs.environment }}

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy'
        required: true
        type: choice
        options:
          - TEST_Tenant1
          - CODAN_HP
          - GJENSIDIGE_HP
          - GF_HP
          - KAB_HP
          - LB_HP
          - LOKAL_HP
          - NEMFORSIKRING_HP
          - POPERMO_HP
          - TOPDANMARK_HP
          - TRYG_HP
          - TRYGGHANSA_HP
      scalepoint-repair-journey:
        description: 'Scalepoint Repair Journey'
        type: boolean
        default: true
      benchmark-master:
        description: 'Benchmark - Master'
        type: boolean
        default: true
      master-selskaber:
        description: 'Master - Selskaber'
        type: boolean
        default: true
      claimshop-standard:
        description: 'ClaimShop Standard'
        type: boolean
        default: true
      claimshop-benchmarks:
        description: 'ClaimShop Benchmarks'
        type: boolean
        default: true
      hub-property-standard:
        description: 'Hub Property Standard'
        type: boolean
        default: true
      hub-property-benchmarks:
        description: 'Hub Property Benchmarks'
        type: boolean
        default: true

jobs:
  deploy:
    permissions:
        actions: read
        checks: write
        contents: read
        packages: read
    uses: scalepoint/bi-powerbi/.github/workflows/deploy-workspace.yaml@13c69c6b0c5cbffe5dae9a143d916a4781d4c878
    with:
      environment: '${{ inputs.environment }}'
      package: '${{ inputs.package }}'
      report-list: '${{ toJSON(inputs) }}'
    secrets: inherit